<ion-fab vertical="bottom" horizontal="center" slot="fixed" class="animated fadeInDown" style="    position: fixed;
">
  <ion-fab-button (click)="togglePopupMenu()">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-icon name="apps"></ion-icon>
  </ion-fab-button>
</ion-fab>

<div class="popup-menu">
  <div class="popup-menu-overlay" [ngClass]="{'in': openMenu}"></div>
  <div class="popup-menu-panel" [ngClass]="{'in': openMenu}">
    

    

    <div class="popup-menu-item" >
      <ion-icon class="icc" name="cog" slot="middle" size="large"></ion-icon>
      <span>profil</span>
    </div>
    <div class="popup-menu-item" (click)="gotoopp()">
      <ion-icon name="trending-up" slot="middle" size="large"></ion-icon>
      <span>opportunité</span>
    </div>
    <div class="popup-menu-item" (click)="contact()">
      <ion-icon name="person" slot="middle" size="large"></ion-icon>
      <span>Contact</span>
    </div> 

  <br><br>

    
    <div class="popup-menu-item">
      <ion-icon name="cog" slot="middle" size="large"></ion-icon>
      <span>Config</span>
    </div>
    <div class="popup-menu-item">
      <ion-icon name="beer" slot="middle" size="large"></ion-icon>
      <span>Activities</span>
    </div>
    <div class="popup-menu-item" (click)="formation()">
      <ion-icon name="book" slot="middle" size="large"></ion-icon>
      <span>formation</span>
    </div> 

  
</div></div>