<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="home-results"></ion-back-button>

    </ion-buttons>
    <ion-title>
        <ion-text color="light">
          <ion-text color="light" class="fw700">Projects</ion-text>
        </ion-text>
    </ion-title>
  
  </ion-toolbar>
  <ion-toolbar color="dark">
    <ion-searchbar [(ngModel)]="search" ></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button size="small" shape="round" color="light" >
        <ion-icon name="options"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="grey">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText=""
      refreshingSpinner="circles"
     >
    </ion-refresher-content>
  </ion-refresher> 
<br>

<div *ngIf="listproject.length != 0 ">
 <div  *ngFor="let con of listproject">
   <ion-list *ngIf="showable(con.title,search)"  >
     <ion-card>
<ion-item    >
  <ion-avatar slot="start" (click)="presentModal(con.id)">
    <img src="assets/img/proj.png" class="user-avatar">
  </ion-avatar>
  <ion-label (click)="presentModal(con.id)" >
    <ion-text >
      <h2>
        <strong>{{con.title}}</strong>
      </h2>
    </ion-text>
    <ion-text color="secondary">
      <h3>
        {{con.libelle}}
      </h3>
    </ion-text>
     

    
  </ion-label>

  <ion-buttons slot="end">
    <ion-button (click)="showlocalisation(con.adresse, con.title , con.id)">
          <ion-icon color="primary" name="md-locate"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-item>





</ion-card>
</ion-list>
</div></div>
<div  align="center" color="secondary" *ngIf="empty">no Project </div>
 
</ion-content>